<!-- Andyteki -->
<div id="combo">
    <div class="items">
        <div class="item bc">
            <div class="icon">
                <i class="fa fa-info-circle"></i>
            </div>
            <div class="title">&nbsp方寸</div>
        </div>
        <div class="item cv">
            <div class="icon">
                <i class="fa fa-file-text-o"></i>
            </div>
            <div class="title">&nbsp點線面</div>
        </div>
    </div>
    <div class="actions">
        <div class="button-group bc">
            <button id="btn-open-card" class="button top">開啟</button>
            <button id="btn-dropbox-card" class="button dropbox bottom">儲存到Dropbox</button>
        </div>
        <div class="button-group cv">
            <button id="btn-open-cv" class="button top">開啟</button>
            <button id="btn-dropbox-cv" class="button bottom">儲存到Dropbox</button>
        </div>
    </div>
</div>