<!-- 教育 -->
<div id="education">
	<img class="book" src="/img/pages/education/book-open.png" alt="">
	<img class="illustration" src="img/pages/education/bag.png" alt="">
	<div class="text school">school:</div>
  <div class="item school">
  	<div class="icon">
  		<i class="fa fa-graduation-cap"></i>
  	</div>
  	<div class="title">政治大學</div>
  </div>
  <div class="text major">major:</div>
  <div class="item major">
  	<div class="icon">
  		<i class="fa fa-pencil-square-o"></i>
  	</div>
  	<div class="title">資訊管理系</div>
	</div>
	<div class="text period"><-period</div>
  <div class="item period">
  	<div class="title">09-13</div>
  	<div class="icon">
  		<i class="fa fa-clock-o"></i>
  	</div>
	</div>
</div>