<!-- 工作經驗 -->
<div id="working-experience">
	<div class="hand-with-card">
		<img src="/img/pages/experience/hand-with-card-1.png" alt="">
	</div>
	<a id="btn-next-card" href="#">next</a>
</div>

<script>
	exe.initializeHandAnimation();
</script>
