<!-- 工作經驗 -->
<div id="working-experience">
	<div class="experience experience-1">
		<div class="title"><i class="fa fa-suitcase"></i>&nbsp實習生&nbsp|&nbsp台灣微軟</div>
		<div class="time-period"><i class="fa fa-clock-o"></i>&nbsp2012年07月&nbsp-&nbsp2013年06月</div>
	</div>
	<div class="experience experience-2">
		<div class="title"><i class="fa fa-suitcase"></i>&nbsp替代役&nbsp|&nbsp新竹市警察局</div>
		<div class="time-period"><i class="fa fa-clock-o"></i>&nbsp2013年09月&nbsp-&nbsp2014年08月</div>
	</div>
	<div class="experience experience-3">
		<div class="title"><i class="fa fa-suitcase"></i>&nbsp前端工程師&nbsp|&nbsp創意點子</div>
		<div class="time-period"><i class="fa fa-clock-o"></i>&nbsp2014年10月&nbsp-&nbsp2015年01月</div>
	</div>
</div>