<!-- 完成！ -->
<div id="finish">
	<div class="greetings">恭喜！您已成功安裝exe.andyteki</div>
	<div class="finish-form">
		<div class="form-group">
			<input type="checkbox" id="execution-andyteki">
			<label for="execution-andyteki">執行exe.andyteki</label>
		</div>
	</div>
</div>