<!-- 語言 -->	
<div id="languages">
	<div class="language chinese">
		<div class="title">
			你好
		</div>
		<div class="info">
			<div class="detail">正在加強：聽說讀寫</div>
			<div class="certificate">其他證明：學測作文9/27</div>
		</div>
	</div>
		<div class="language english">
		<div class="title">
			Hello
		</div>
		<div class="info">
			<div class="detail">正在加強：Speak out loud</div>
			<div class="certificate">其他證明：TOEIC (930)</div>
		</div>
	</div>
		<div class="language japanese">
		<div class="title">
			こんにちは
		</div>
		<div class="info">
			<div class="detail">正在加強：看懂ボケて的笑點</div>
			<div class="certificate">其他證明：JLPT (N3)</div>
		</div>
	</div>
</div>