<!-- 語言 -->	
<div id="languages">
	<div class="overlay hide"></div>
	<div class="language chinese">
		<img src="/img/pages/language/bubble-zh.png" alt="">
		<div class="info">時好時壞</div>
	</div>
	<div class="language english">
		<img src="/img/pages/language/bubble-en.png" alt="">
		<div class="info">TOEIC (930)</div>
	</div>
	<div class="language japanese">
		<img src="/img/pages/language/bubble-jp.png" alt="">
		<div class="info">JLPT (N3)</div>
	</div>
</div>

<script>
	exe.initializeLanguage();
</script>
