<!-- 語言 -->	
<div id="languages">
	<div class="language chinese">
		<div class="icon">
			<img src="/img/language/chinese.png" alt="chinese">
		</div>
		<div class="info">
			<div class="level">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</div>
		</div>
	</div>
		<div class="language english">
		<div class="icon">
			<img src="/img/language/english.png" alt="english">
		</div>
		<div class="info">
			<div class="level">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
			</div>
		</div>
	</div>
		<div class="language japanese">
		<div class="icon">
			<img src="/img/language/japanese.png" alt="japaneses">
		</div>
		<div class="info">
			<div class="level">
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
			</div>
		</div>
	</div>
</div>