<!-- Andyteki -->
<div id="lite">
  <div class="items">
    <div class="item bc">
      <div class="icon">
        <i class="fa fa-info-circle"></i>
      </div>
      <div class="title">&nbsp方寸</div>
    </div>
  </div>
  <div class="button-group">
    <button id="btn-download-card" class="button">開啟</button>
    {{!-- https://www.dropbox.com/s/ogh8tflpkltxhfm/bc.pdf?raw=1 --}}
    <button id="btn-card-to-dropbox" class="button">儲存到Dropbox</button>
  </div>
</div>