<!-- 技能 -->
<div id="skills">
	<div class="title" data-for="front-end"><i class="fa fa-user"></i>&nbspFront-End</div>
	<div class="skill front-end">
		<div class="title"><i class="fa fa-html5"></i>HTML</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbsp獨立撰寫HTML</li>
			<li class="item-2"><i class="fa fa-check-square-o"></i>&nbspHTML5語意標籤</li>
			<li class="item-3"><i class="fa fa-check-square-o"></i>&nbspHTML5 API使用經驗</li>
		</ul>
		<div class="title"><i class="fa fa-css3"></i>CSS</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbspCSS定位、Box Model概念</li>
			<li class="item-2"><i class="fa fa-check-square-o"></i>&nbsp基礎flexbox排版</li>
			<li class="item-3"><i class="fa fa-check-square-o"></i>&nbspCSS框架使用經驗</li>
		</ul>
		<div class="title"><i class="fa fa-code"></i>JavaScript</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbspJavaScript原生API</li>
			<li class="item-2"><i class="fa fa-check-square-o"></i>&nbspJS closures、prototype、timers、regex等語言概念</li>
			<li class="item-3"><i class="fa fa-check-square-o"></i>&nbsp使用第三方JS Library實作功能</li>
		</ul>
	</div>
	<div class="title" data-for="back-end"><i class="fa fa-server"></i>&nbspBack-End</div>
		<div class="skill back-end">
		<div class="title"><i class="fa fa-file-code-o"></i>Node.js</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbsp使用Express實作MVC</li>
			<li class="item-2"><i class="fa fa-check-square-o"></i>&nbsp使用middleware擴充功能</li>
			<li class="item-3"><i class="fa fa-check-square-o"></i>&nbsp建構RESTful API</li>
		</ul>
		<div class="title"><i class="fa fa-database"></i>MongoDB</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbsp使用Mongoose Driver做CRUD Operations</li>
		</ul>
	</div>
</div>
<script>
	exe.initializeAccordion();
</script>