<!-- 技能 -->
<div id="skills">
	<div class="title" data-for="tools"><i class="fa fa-briefcase"></i>&nbspTools</div>
	<div class="skill tools">
		<div class="title"><i class="fa fa-code-fork"></i>Git</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbsp</li>
			<li class="item-2"><i class="fa fa-check-square-o"></i>&nbsp</li>
			<li class="item-3"><i class="fa fa-check-square-o"></i>&nbsp</li>
			<li class="item-4"><i class="fa fa-check-square-o"></i>&nbsp</li>
			<li class="item-5"><i class="fa fa-check-square-o"></i>&nbsp</li>
		</ul>
		<div class="title"><i class="fa fa-tasks"></i>Gulp</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbsp</li>
			<li class="item-2"><i class="fa fa-check-square-o"></i>&nbsp</li>
			<li class="item-3"><i class="fa fa-check-square-o"></i>&nbsp</li>
			<li class="item-4"><i class="fa fa-check-square-o"></i>&nbsp</li>
			<li class="item-5"><i class="fa fa-check-square-o"></i>&nbsp</li>
		</ul>
		<div class="title"><i class="fa fa-archive"></i>Bower</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbsp如何使用jQuery</li>
			<li class="item-2"><i class="fa fa-check-square-o"></i></li>
			<li class="item-3"><i class="fa fa-check-square-o"></i></li>
			<li class="item-4"><i class="fa fa-check-square-o"></i></li>
			<li class="item-5"><i class="fa fa-check-square-o"></i></li>
		</ul>
	</div>
</div>
<script>
	exe.initializeAccordion();
</script>
