<!-- 技能 -->
<div id="skills">
	<div class="title" data-for="tools"><i class="fa fa-briefcase"></i>&nbspTools</div>
	<div class="skill tools">
		<div class="title"><i class="fa fa-code-fork"></i>Git</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbsp使用gitflow workflow</li>
		</ul>
		<div class="title"><i class="fa fa-tasks"></i>Gulp</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbsp使用gulp做automation</li>
		</ul>
		<div class="title"><i class="fa fa-archive"></i>Bower</div>
		<ul class="detail-list">
			<li class="item-1"><i class="fa fa-check-square-o"></i>&nbsp使用Bower作前端套件管理</li>
		</ul>
	</div>
</div>
<script>
	exe.initializeSkills();
</script>
