/* user agreement page */
#user-agreement {
	height: 100%;
	padding: 0 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
}

#agreement-content > .instructions {
	font-size: 32px;
}

#agreement-content > .list {
	font-size: 24px;
}

#agreement-content > .list > li {
	line-height: 1.4;
}

#agreement-form {
	font-size: 18px;
}

@media screen and (max-height: 800px) {
	#agreement-content > .instructions {
		font-size: 24px;
	}

	#agreement-content > .list {
		font-size: 18px;
	}

	#agreement-content > .list > li {
		line-height: 1.2;
	}

	#agreement-form {
		font-size: 14px;
	}
}

/* experience page */

#working-experience {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
#working-experience > .experience {
	padding: 10px 20px;
}

#working-experience > .experience > .title {
	font-size: 32px;
	line-height: 1.8;
}

#working-experience > .experience > .company  {
	font-size: 24px;
}

#working-experience > .experience > .time-period {
	font-size: 24px;
}

@media screen and (max-height: 800px) {
	#working-experience > .experience {
		padding: 5px 20px;
	}

	#working-experience > .experience > .title {
		font-size: 28px;
	}

	#working-experience > .experience > .company  {
		font-size: 20px;
	}

	#working-experience > .experience > .time-period {
		font-size: 20px;
	}
}

/* skills page */
#skills {
	height: 100%;
	overflow: auto;
	padding: 5px 20px;
}

#skills > .title {
	font-size: 32px;
	margin-bottom: 10px;
}

#skills > .skill {
	margin-bottom: 25px;
}

#skills > .skill > .title {
	font-size: 28px;
}

#skills > .skill > .title > i {
	width: 40px;
}

#skills > .skill > .detail-list > li {
	list-style: none;
	font-size: 22px;
}

/* education page */

/* language page */
#languages {
	padding: 5px 20px;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

#languages > .language {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#languages > .language > .icon > img {
	height: 70px;
}

#languages > .language > .info {
	font-size: 30px;
}

/* finish page */
#finish {
	padding: 30px 20px 0 20px;
}

#finish > .greetings {
	font-size: 32px;
	margin-bottom: 40px;
}

#finish > .finish-form {
	font-size: 24px;
}

#finish > .finish-form > .form-group > input[type="checkbox"] {
  width: 24px; 
  height: 24px; 
  cursor: pointer;
}

/* lite page */
#lite {
	height: 100%;
	width: 100%;
}
#lite > .items {
	position:  relative;
	top: 10%;
	margin-left: 5%;
	width: 50%;
	height: 80%;
	float: left;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	box-sizing: border-box;
	border: 2px dashed;
}

#lite > .items > .item {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 60px;
}

#lite > .button-group {
	position: relative;
	top: 10%;
	width: 40%;
	height: 80%;
	float: left;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

#lite > .button-group > .button{
	background-color: transparent;
	border: 2px solid;
	border-radius: 4px;
	width: 50%;
	height: 25%;
	font-size: 20px;
}

#lite > .button-group > .button:hover {
	background-color: white;
}

/* combo page */
#combo {
	height: 100%;
	width: 100%;
}
#combo > .items {
		margin-left: 5%;
		width: 50%;
		height: 80%;
		float: left;
		border: 2px dashed;
		position: relative;
		top: 10%;
}

#combo > .items > .bc {
	border-bottom: 1px inset buttonface;
}

#combo > .items > .cv {
	border-top: 1px inset buttonface;
}

#combo > .items > .item {
	height: 50%;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 60px;
}


#combo > .items > .item > .icon {
	
}

#combo > .items > .item > .title {
	
}

#combo > .actions {
	position: relative;
	top: 10%;
	height: 80%;
}

#combo > .actions > .button-group {
	width: 40%;
	height: 50%;
	float: left;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#combo > .actions > .button-group > .button {
	background-color: transparent;
	border-style: solid;
	width: 60%;
	height: 30%;
	font-size: 18px;
	border-color: buttonface;
}

#combo > .actions > .button-group > .button:hover {
	background-color: white;
}

#combo > .actions > .button-group > .button.top {
	border-radius: 4px 4px 0 0;
	border-width: 2px 2px 1px 2px;
}

#combo > .actions > .button-group > .button.bottom {
	border-radius: 0 0 4px 4px;
	border-width: 1px 2px 2px 2px
}

