/* postit */
#main > .postit { 
	width: 250px;
	height: 250px; 
	background-color: #fcf0ad; 
	box-shadow: 1px 3px 4px 2.5px black;
	border:1px solid #e8e8e8;
	position: absolute;
	top: 100px;
	left: 20px;
	box-sizing: border-box;
	padding-top: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 40px;
}

#main > .postit::before {
	content: "";
	width: 248px;
	height: 20px;
	background-color: #fae77c;
	position: absolute;
	top: 0;
	left: 1px;
}


#main > .postit > .link {
	height: 95px;
	text-align: center;
}

#main > .postit > .link:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#main > .postit  a {
	text-decoration: none;
	color: black;
	line-height: 95px;
}


/* start panel */ 
#start-panel {
	border-top: 2px solid #2c3e50;
	position: absolute;
	top: 60px;
	left: 0;
	width: 280px;
	height: 280px;
	background-color: rgba(149, 165, 166, 1);
	border-radius: 4px;
	display: none;
	padding: 10px 10px 40px 10px;
}

#start-panel > .author-info {
	margin-bottom: 10px;
} 

#start-panel > .version-info {
	line-height: 30px;
	text-align: center;
	position: absolute;
	border-radius: 0 0 4px 4px;
	width: 300px;
	height: 30px;
	bottom: 0;
	left: 0;
	background-color: rgba(127, 140, 141, 1);
	color: white;
}

#start-panel > .author {
	/*box-shadow: 0 1px 3px 3px black;*/
	margin-bottom: 5px;
	padding: 0;
	height: 120px;
	width: 280px;
}


#start-panel > .author > .portrait {
	width: 120px;
	height: 120px;
	/*float: left;*/
}

#start-panel > .author > .info {
	float: right;
	height: 120px;
	width: 160px;
	/*margin-left: 10px;*/
	background-color: #ffffff;
	/*border-radius: 0 4px 4px 0;*/
}

#start-panel > .author > .info > .name {
	text-align: center;
	font-size: 24px;
	line-height: 120px;
}

#start-panel > .contact {
	width: 280px;
	height: 150px;
	text-align: center;
	background-color: #229955;
}

#start-panel > .contact > a {
	color: white;
	font-size: 100px;
	line-height: 150px;
}

#start-panel > .contact > a:hover {
	font-size: 120px;
}

#start-panel > .contact-form > #feedback {
	padding: 0;
	border: 0;
	width: 300px;
	height: 120px;
}

#start-panel > .contact-form > .button-submit {
	border: 0;
	float: right;
	font-size: 20px;
	width: 300px;
	background-color: #ecf0f1;
}

#start-panel > .contact-form > .button-submit:hover {
	background-color: #ffffff;
}


/* easter eggs */
#easter {
	position: absolute;
	bottom: 0;
	right: 0;
}

#easter > a {
	color: white;
}
