<div id="start-panel">
	<div class="author">
		<img class="portrait" src="/img/portrait.jpg" alt="">
		<div class="info">
			<div class="name">Chen Yu</div>
		</div>
	</div>
	<div class="contact"><a href="mailto:andy02081224@gmail.com"><i class="fa fa-envelope-o"></i></a></div>
	{{!-- <form action="" class="contact-form">
		<textarea name="" id="feedback" rows="10" placeholder="任何指教？"></textarea>
		<button class="button-submit" type="submit">提交</button>
	</form> --}}
	<div class="version-info">bɑpəl Ver.0.1</div>
</div>