<div id="start-panel">
	<div class="author">
		<img class="portrait" src="/img/share/portrait.jpg" alt="">
		<div class="info">
			<div class="name">Chen Yu</div>
		</div>
	</div>
	<div class="contact"><a href="mailto:andy02081224@gmail.com"><i class="fa fa-envelope-o"></i></a></div>
	<div class="version-info">bɑpəl Ver.0.1</div>
</div>