<div id="package-list">
	<div class="package lite" id="pacakge-lite">
		<div class="package-icon"><i class="fa fa-list-ol"></i></div>
		<div class="package-content">
			<div class="title">輕量版</div>
			<div class="description">在此版本中您將會安裝：<br>	工作經驗.orz, 技術.lol</div>
		</div>
	</div>
	<div class="package combo" id="package-combo">
		<div class="package-icon"><i class="fa fa-list"></i></div>
		<div class="package-content">
			<div class="title">標準版</div>
			<div class="description">在此版本中您將會安裝：<br>工作經驗.orz, 技術.lol, 教育程度.btw, 外語.btw</div>
		</div>
	</div>
	<div class="package custom" id="package-custom">
		<div class="package-icon"><i class="fa fa-check-square-o"></i></div>
		<div class="package-content">
			<div class="title">進階版 (Coming Soon!)</div>
			<div class="description">在此版本中您將會安裝：<br>自由選擇的模組</div>
		</div>
	</div>
</div>