<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>exe.andyteki</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/page.css">
  <link rel="stylesheet" href="/css/partial.css">
  {{#if ENV_DEVELOPMENT}}
  	<!-- bower:css -->
  	<link rel="stylesheet" href="/components/normalize.css/normalize.css" />
		<link rel="stylesheet" href="/components/jquery-ui-1.11.4/jquery-ui.min.css"></script>
  	<!-- endbower -->
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  	<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <script src="http://localhost:35729/livereload.js"></script>
  	{{{_sections.head}}}
  {{/if}}
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1811922179033123',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
	<div id="main">
		{{> postit-1}}
		{{> easter}}
		<div id="menu-bar">
			{{> startPanel}}
			<button id="btn-start" class="button">Bapple</button>
			<button id="btn-shortcut-install" class="button shortcut active"><i class="fa fa-download"></i></button>
		</div>
		<div id="hello"></div>
		<div id="desktop">
			<div id="draggable-window">
				<div class="status-bar">
					<div class="title"><i class="fa fa-download"></i>&nbspexe.andyteki</div>
					<div class="button-group">
						<button id="btn-minimize" class="button"><i class="fa fa-minus"></i></button>
						<button id="btn-exit" class="button"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="content">
					<div class="tasks">
						<div class="title">請選擇版本</div>
						<div id="body">{{{body}}}</div>
					</div>
					<div class="button-group">
						<button id="btn-previous" class="button">上一步</button>
						<button id="btn-next" class="button">下一步</button>
					</div>
				</div>
		  </div>
	  </div>
	</div>
	<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="d0fodomyuid4on1"></script>
	<!-- bower:js -->
	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/components/jquery-ui-1.11.4/jquery-ui.min.js"></script>
	<script src="/js/main.js"></script>	
	<!-- endbower -->
	{{{_sections.script}}}
  </body>
</html>
